@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px theme("colors.primary");
}
